.easter-egg {
  text-align: center;
  margin: 200px 0;
  position: relative;
}

.easter-egg img {
  width: 50px;
  height: auto;
  display: inline-block;
}

/* Style the text box */
.easter-egg-text {
  display: none;
  position: absolute;
  top: -70px; /* Move the text box above the image by adjusting the top value */
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  border-radius: 5px;
}

/* Change cursor to pointer on hover */
.easter-egg:hover {
  cursor: pointer;
}

/* Show the text box on hover */
.easter-egg:hover .easter-egg-text {
  display: block;
}
