.easter-egg {
  text-align: center;
  margin: 200px 0;
  position: relative;
}

.easter-egg img {
  width: 50px;
  height: auto;
  display: inline-block;
}

.easter-egg-text {
  display: none;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  margin: 0 20px;
}

.easter-egg:hover {
  cursor: pointer;
}

.easter-egg:hover .easter-egg-text {
  display: block;
}
