.section-title {
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.about-content p {
  text-align: center;
  font-size: 1.17em;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}
#about p {
  margin-bottom: 20px;
}
html {
  scroll-behavior: smooth;
}
body {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
@media (max-width: 600px) {
  .intro-name {
    font-size: 3rem;
    text-align: center;
  }

  .intro-role {
    font-size: calc(100% - 3vw);
    text-align: center;
  }

  .projects-filter-buttons,
  .skills-filter-buttons,
  .about-filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-filter-button,
  .skills-filter-button,
  .about-filter-button {
    margin: 5px;
    font-size: calc(100% - 1vw);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .project-gallery .icon {
    font-size: calc(100% - 2vw);
  }
}
