.filter-header {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.organize-by {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organize-button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.organize-button:hover {
  background-color: #e0e0e0;
}

.organize-buttons {
  display: flex;
  gap: 20px;
}

.organize-text {
  padding-bottom: 20px;
  display: block;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card {
  width: 300px;
  border: 1px solid #e0e0e0;
  position: relative;
}

.project-screenshot {
  width: 100%;
  height: auto;
  display: block;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.project-description h3 {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.project-card h3 {
  margin: 0;
  padding: 20px 0 10px 0;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-100%);
  z-index: 1;
}

.projects-filter-buttons {
  padding-bottom: 60px;
}

.project-screenshot {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.3s;
}

.project-card:hover .project-description {
  opacity: 1;
  visibility: visible;
}

.project-card:hover .project-screenshot {
  transform: scale(1.05);
}

.project-card:not(:hover) .project-description {
  transition-delay: 5s, 5s;
}

.project-card:hover {
  transform: scale(1.05);
}
.tech-icons,
.project-buttons {
  transition-delay: 5s, 5s;
}
.project-card:hover .tech-icons,
.project-card:hover .project-buttons {
  transition-delay: 0s, 0s;
}

.dark-description p {
  color: black;
}
.white-background-icon {
  background-color: white;
  border-radius: 4px;
}
.project-card:hover ~ .project-card .tech-icons,
.project-card:hover ~ .project-card .project-buttons {
  opacity: 0;
  visibility: hidden;
}
.project-card.active .tech-icons,
.project-card.active .project-buttons {
  opacity: 1;
  visibility: visible;
}
