html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --navy: rgb(15, 15, 15);
  --teal: rgb(30, 30, 30);
  --lightteal: rgb(45, 45, 45);
  --darkteal: rgb(60, 60, 60);
  --darkerteal: rgb(75, 75, 75);
  background-color: var(--teal);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: Barlow, sans-serif;
}

.project-new-icon {
  width: 20.25;
  height: 18.5;
}

#nav-computer {
  background-color: var(--teal);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 1;
  margin-left: 10%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

input#input-box {
  width: 150px;
  height: 20px;
  z-index: 1;
  border-radius: 8px 0 0 8px;
  background-color: var(--darkteal);
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  outline: none;
}

input#input-box::after {
  content: "|";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  animation: blink 1s infinite;
}

input#input-box:focus,
input#input-box:active,
input#input-box:focus-within {
  background-color: var(--lightteal);
}

::placeholder {
  color: rgba(255, 255, 255, 0.557);
}

input#input-box:focus::placeholder {
  color: transparent;
}
#intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro-name {
  font-size: 4em;
  color: white;
  margin-bottom: 20px;
}

.intro-role {
  font-size: 2em;
  color: white;
}
#profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Hide the text box by default */
.easter-egg-text {
  display: none;
  position: absolute;
  background-color: #ffc107; /* Yellow background color */
  color: #000; /* Black text color */
  border: 2px solid #000; /* Black border */
  padding: 10px;
  font-family: "Press Start 2P", cursive; /* Use a Super Nintendo-like font */
  font-size: 16px;
}

/* Change cursor to pointer on hover */
.easter-egg:hover {
  cursor: pointer;
}
