html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --darkgrey: rgb(40, 40, 40);
  --midgrey: rgb(60, 60, 60);
  --lightgrey: rgb(80, 80, 80);
  --darkergray: rgb(20, 20, 20);
  background-color: var(--midgrey);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: Barlow, sans-serif;
}

#nav-computer {
  background-color: var(--midgrey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 1;
  margin-left: 10%;
}

input#input-box {
  width: 150px;
  height: 20px;
  z-index: 1;
  border-radius: 8px 0 0 8px;
  background-color: var(--darkgrey);
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  border: none;
  outline: none;
}

input#input-box:focus,
input#input-box:active,
input#input-box:focus-within {
  background-color: var(--lightgrey);
}

::placeholder {
  color: rgba(255, 255, 255, 0.557);
}

input#input-box:focus::placeholder {
  color: transparent;
}

.clear-button,
.search-button,
#microphone-button {
  color: white;
  background-color: var(--darkgrey);
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  border: 0px;
  padding: 0px;
  right: 15px;
  z-index: 2;
}

.search-button {
  border-radius: 0 8px 8px 0;
  width: 20px;
}

#microphone-button {
  border-radius: 8px;
  margin-left: 5px;
}

.clear-button:hover,
.search-button:hover,
#microphone-button:hover {
  background-color: var(--lightgrey);
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: ease 0.5s;
}

nav > div {
  padding: 15px 10px;
  font-size: large;
}
